*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.headband{
  width: 100%;
  box-shadow: 0px 0px 5px grey;
  background-color: whitesmoke;
  display: flex;
  height: 50px;
}
.lefthead{
  width: 40%;
  display: flex;
justify-content: space-between;
}
.IMAGE{
  width: 20%;
  align-items:left;
  padding-left: 30px;
}
.IMAGE>img{
width: 50px;
height: 50px;
}
.titlecard{
width: 80%;
display: flex;
justify-content: left;
align-items: center;
font-weight: bolder;
font-style: italic;
font-size: 30px;
font-family: sans-serif;
color: darkorange;
}
.righthead{
  width: 60%;
  display: flex;
  position: relative;
}
.righthead>ul{
  width: 100%;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
}
.icons{
  display: grid;
  text-align: center;
}
.icons>a{
  text-decoration: none;
  display: grid;
  text-align: center;
  color: black;
  transition: 0.2s ease;
}
.icons>a:hover{
background-color: orange;
color: antiquewhite;
border-radius: 10px;
padding: 5px;
}
.category{
  display: grid;
  text-align: center;
  transition: 0.2s ease;
}
.category:hover {
  background-color: orange;
  color: antiquewhite;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.subscribebutton{
  display: grid;
  text-align: center;
  transition: 0.2s ease;
  text-decoration: none;
  color: black;
}
.subscribebutton:hover{
background-color: red;
 color: antiquewhite;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.megamenu{
position: absolute;
width: 97%;
left: 0px;
height:120%;
height: 210px;
box-shadow: 0px 3px 2px 2px grey;
top: 50px;
visibility: hidden;
opacity: 0;
background-color: whitesmoke;
transition: 0.3s ease;
border-radius: 10px;
}
.righthead>ul>li:hover .megamenu{
visibility: visible;
opacity: 1;
height: 100%;
height:180px;
}
.menuheads>ul{
list-style: none;
display: flex;
justify-content: space-between;
padding-top: 10px;
}
.menuheads:hover{
text-decoration: none;
}
.menuitems>ul{
list-style: none;
gap: 10px;

}
.menuitems{
padding-left: 15px;
padding-right: 15px;
}
.menuitems>ul>li{
padding-top: 5px;
padding-bottom: 5px;

}
.options{
text-decoration: none;
font-weight: bold;
color: orange;
transition: 0.1s ease;
}
.options:hover{
background-color: yellow;
color: red;
padding-left:15px;
padding-right:10px;
}
.banner img{
width: 100%;
padding-top:2px;
box-shadow: 0px 3px 1px 0px grey;
}
.messages{
width:100%;
background-color: red;
color:white;
font-weight: bold;
}
.messages h2{
justify-content: center;
font-size:20px;
}
.menutitle{
text-decoration: none;
color: black;
transition: 0.2s ease;
}
.menutitle:hover{
background-color: purple;
color: white;
padding: 4px;
border-radius: 7px;
}